#actions-top
  = link_to transactions_path(offset: @offset + 1) do
    %ion-icon{ name: 'arrow-back-circle-outline', **permanent }
  %h5
    = (Time.current - @offset.months).strftime('%Y %B')
  - if @offset > 0
    = link_to transactions_path(offset: @offset - 1) do
      %ion-icon{ name: 'arrow-forward-circle-outline', **permanent }
  - else
    %ion-icon

#transactions
  - @transactions.to_a.group_by_day(&:created_at).reverse_each do |day, transactions|
    .transactions-header
      %h5
        = day.strftime('%e')
    - transactions.sort_by(&:created_at).reverse.each do |transaction|
      .transaction
        .transaction-category
          %ion-icon{ name: "#{transaction.category.key}-outline", **permanent }
          = transaction.category.name
        .transaction-amount{ class: ('padded' if transaction.amount.positive?) }
          = "#{transaction.amount} Ft"
        .transaction-creator
          = transaction.user.name.first

#actions-bottom
  %ion-icon{ name: 'add-circle', data: { reflex: 'click->Wizard#start', controller: 'wizard' }, **permanent }

- if session[:wizard_step].present?
  = render 'wizard'
